{% extends 'main/base.html' %}
{% load static %}

{% block title %}{{ playlist.name }}{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'playlist/css/playlist.css' %}">
{% endblock %}

{% block body %}
<div class="container-fluid p-5 bg-primary text-white text-center">
  <h1>{{ playlist.name }}</h1>
  <p>{{ playlist.description }}</p>
</div>

<div class="container bg-info rounded-2">
    <h4>Панель управления</h4>
    <button id="play-musics" class="btn btn-primary">Воспроизвести</button><br>
    <button id="next-music" class="btn btn-warning" disabled>Следующий трек</button><br>
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Опции воспроизведения</button><br>
    <ul class="dropdown-menu dropdown-menu-dark">
        <li class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                В случайном порядке
              </label>
        </li>
        <li class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
              <label class="form-check-label" for="flexRadioDefault2">
                По порядку
              </label>
        </li>
    </ul>

    <div class="btn-group">
        <a href="{% url 'update_playlist' playlist.id %}" class="btn btn-success" role="button">Обновить</a>
        <a href="{% url 'delete_playlist' playlist.id %}" class="btn btn-danger" role="button">Удалить</a>
    </div>
</div>

<div class="container">
    <ul class="list-group list-group-flush">
        {% for music in playlist.list_music %}
          <li class="list-group-item bg-dark text-white rounded-4">
              <p>{{ music.name }}</p>
              <div class="embed-responsive embed-responsive-16by9 embed-responsive-item d-flex justify-content-center">
                  <audio controls="true" style="height: 40px; width: 66%;" class="mx-4">
                      <source src="{{ music.url }}" type="audio/mpeg">
                  </audio>
                  <button value="{% url 'del_to_playlist' playlist.id music.id %}" class="btn btn-danger p-2"><img width="30px" src="{% static 'playlist/img/delete.png' %}" alt="Удалить из плейлиста"></button>
              </div>
          </li>
        {% empty %}
          <li class="list-group-item bg-dark text-white rounded-4">
              <p>Пустой плейлист</p>
          </li>
        {% endfor %}
    </ul>
</div>

<script src="{% static 'main/js/update-url.js' %}"></script>
<script src="{% static 'playlist/js/index.js' %}"></script>
<script src="{% static 'playlist/js/playlist-play.js' %}"></script>
{% endblock %}