{% extends 'main/base.html' %}
{% load static %}

{% block title %}Письмо отправлено{% endblock %}

{% block body %}
<div class="container-fluid p-5 bg-primary text-white text-center">
  <h1>Письмо с инструкциями по восстановлению пароля отправлено</h1>
  <p>
Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты (если в нашей базе данных есть таковой). Вы должны получить ее в ближайшее время.</p>
<p>Если вы не получили письмо, пожалуйста, убедитесь, что ввели адрес с которым зарегистрировались, и проверьте папку со спамом.</p>
</div>
{% endblock %}